.call-to-action.dark {
  color: var(--clr-text-dark);
  background-color: var(--clr-back-dark-trans);
  border: 1px solid var(--clr-dark);
}

.call-to-action.light {
  color: var(--clr-text-white);
  background-color: var(--clr-back-light-trans);
  border: 1px solid var(--clr-white);
}

.call-to-action {
  position: relative;
  display: flex;
  width: fit-content;
  padding: 15px 20px;
  gap: 10px;
  line-height: 95%;
  border-radius: 40px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  align-items: center;
  justify-content: center;
  z-index: 1;

  &:hover {
    color: var(--clr-text-white);
    background-color: var(--clr-yellow);
    box-shadow: var(--box-shadow-button);
    border: 1px solid var(--clr-yellow);
  }

  .bIcon {
    font-size: 1rem;
    line-height: 0;
  }
}

@media screen and (max-width: 576px) {
  .call-to-action {
    font-size: 0.9rem;

    .bIcon {
      font-size: 0.9rem;
    }
  }
}
