#commentSection {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 10px;

  .title {
    font-size: 1.5rem;
  }

  .comment-box {
    display: flex;
    width: 100%;
    gap: 20px;
    align-items: flex-end;

    .comment-input {
      flex: 1;
      height: 7rem;
      padding: 10px;
      font-size: 1rem;
      background-color: var(--clr-white);
      border: none;
      border-radius: 10px;
      outline: none;
      box-shadow: var(--box-shadow-medium);
      resize: vertical;
    }

    .send-btn {
      display: grid;
      width: 50px;
      height: 50px;
      color: var(--clr-text-red);
      background-color: var(--clr-white);
      font-size: 1.5rem;
      box-shadow: var(--box-shadow-small);
      border-radius: 50%;
      border: none;
      transform: rotate(45deg);
      transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      place-content: center;
      cursor: pointer;

      &:hover {
        color: var(--clr-text-white);
        background-color: var(--clr-yellow);
        box-shadow: var(--box-shadow-button);
      }

      .bi {
        margin-top: 2px;
        margin-right: 2px;
      }
    }

    .send-btn-mini {
      display: flex;
      padding: 5px 15px;
      gap: 5px;
      color: var(--clr-text-red);
      background-color: var(--clr-white);
      font-size: 1rem;
      font-weight: 700;
      box-shadow: var(--box-shadow-small);
      border: none;
      border-radius: 10px;
      transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        color: var(--clr-text-white);
        background-color: var(--clr-yellow);
        box-shadow: var(--box-shadow-button);
      }

      .bi {
        transform: rotate(45deg);
      }
    }
  }

  .edit-comment {
    display: flex;
    width: fit-content;
    padding: 7px;
    gap: 5px;
    background-color: var(--clr-back-light-trans);
    border-radius: 50px;
    border: 1px solid var(--clr-white);
    transition: all 0.2s ease-in-out;
    align-items: center;
    cursor: pointer;

    &:hover {
      color: var(--clr-text-white);
      background-color: var(--clr-yellow);
      box-shadow: var(--box-shadow-button);
      border: 1px solid var(--clr-yellow);
    }

    .comment-id {
      max-width: 130px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      .bold {
        font-weight: 700;
      }
    }

    .bi {
      font-size: 1.2rem;
      line-height: 0;
    }
  }

  .comments-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding-block: 20px 0px;
    gap: 10px;
    border-top: dashed 3px var(--clr-back-dark-trans);

    .full-comments-btn {
      width: fit-content;
      font-weight: 700;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  #commentSection {
    .comment-box {
      flex-direction: column;
      gap: 10px;

      .comment-input {
        width: 100%;
        font-size: 0.8rem;
      }
    }

    .comments-container {
      .full-comments-btn {
        font-size: 0.8rem;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  #commentSection {
    .comment-box {
      .send-btn-mini {
        font-size: 0.8rem;
      }
    }
  }
}
