#contact {
  position: sticky;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px 0 0;
  bottom: 0;

  .contact-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 100px 40px;
    gap: 50px;

    .row1 {
      display: flex;
      padding: 20px 0;
      gap: 20px;
      border-bottom: 2px dashed var(--clr-yellow);
      align-items: center;
      justify-content: flex-end;

      .cakram-yellow {
        animation: spin 5s linear infinite;
      }
    }

    .row2 {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      gap: 10px;
      max-width: 500px;

      .desc {
        opacity: 0.5;
      }
    }

    .row3 {
      display: flex;
      width: 100%;
      gap: 20px;
      align-items: center;
      justify-content: space-between;

      .copyright {
        display: flex;
        gap: 10px;
        align-items: center;

        .copy-text {
          color: var(--clr-text-dark-green);
          font-size: 0.8rem;
          line-height: 120%;

          .bold {
            font-weight: 700;
          }
        }
      }

      .connect {
        display: flex;
        flex-direction: column;
        color: var(--clr-text-red);

        .connect-text {
          font-size: 1rem;
        }

        .socmed {
          display: flex;
          gap: 25px;
          align-items: center;

          .bi {
            font-size: 1.9rem;
            transition: color 0.3s ease-in-out, scale 0.3s ease-in-out;

            &:hover {
              color: var(--clr-text-dark-red);
              scale: 1.1;
            }
          }
        }
      }
    }
  }

  .marquee {
    display: flex;
    width: 100%;
    padding-right: 30px;
    gap: 30px;
    line-height: 50%;
    align-items: center;
    overflow: hidden;

    .marquee-text {
      color: var(--clr-text-green);
      font-size: 5rem;
      font-weight: 700;
    }

    .cakram-yellow {
      animation: spin 5s linear infinite;
    }
  }
}

@media screen and (max-width: 675px) {
  #contact {
    .contact-container {
      padding: 0 40px 40px;
    }
  }
}

@media screen and (max-width: 576px) {
  #contact {
    .contact-container {
      padding: 0 20px 40px;

      .row1 {
        gap: 10px;

        .cakram-yellow {
          width: 20px;
          height: 20px;
        }
      }

      .row2 {
        margin-top: 0px;

        .desc {
          font-size: 0.9rem;
        }
      }

      .row3 {
        flex-direction: column-reverse;
        width: 100%;
        gap: 20px;
        align-items: flex-start;
      }
    }
  }
}
