#hero {
  position: relative;
  display: flex;
  width: 100%;
  height: 100dvh;
  min-height: 900px;
  max-height: 1080px;
  padding-inline: 20px;
  background: var(--background-radial-grad);
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 1;

  .marquee-container {
    position: absolute;
    width: 100dvw;
    left: 0;
    z-index: 0;

    .marquee-back {
      width: 100%;
      color: var(--clr-text-dark);
      font-size: 30rem;
      font-weight: 700;
      opacity: 0.05;
      cursor: default;
    }
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    align-items: center;
    z-index: 1;

    .row1 {
      display: flex;
      gap: 180px;
    }

    .row2 {
      padding-block: 180px 100px;
    }

    .row3 {
      display: flex;
      flex-direction: column;
      gap: 40px;
      align-items: center;

      .description {
        max-width: 600px;
        font-size: 1.3rem;
        text-align: center;

        .blackbold-text {
          font-weight: 700;
        }

        .highlighted-text {
          color: var(--clr-text-green);
        }
      }

      .call-to-actions {
        display: flex;
        gap: 10px;
        align-items: center;
      }
    }

    .address-bar {
      position: absolute;
      display: flex;
      bottom: 2rem;
      left: 3rem;
      gap: 15px;
      color: var(--clr-text-special);
      transition: all 0.2s ease-in-out;
      align-items: center;
      justify-content: center;
      z-index: 2;
      cursor: pointer;

      .map {
        color: var(--clr-text-green);
        font-size: 1.9rem;
      }

      .address {
        display: flex;
        flex-direction: column;
        max-width: 200px;
        font-size: 0.8rem;

        .country {
          display: flex;
          height: fit-content;
          gap: 10px;
          color: var(--clr-text-green);
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 100%;
          align-items: center;

          .flag {
            position: relative;
            width: 35px;
            height: 24px;
            background-color: var(--clr-red-special);
            border-radius: 5px;
            box-shadow: var(--box-shadow-small);
            overflow: hidden;

            &::before {
              content: '';
              position: absolute;
              width: 100%;
              height: 50%;
              bottom: 0;
              left: 0;
              background-color: var(--clr-white);
            }
          }
        }
      }

      &:hover {
        opacity: 1;
      }
    }

    .address-bar-mini {
      display: flex;
      margin-bottom: 20px;
      gap: 5px;
      align-items: center;
      justify-content: center;
      z-index: 2;
      cursor: pointer;

      .map {
        color: var(--clr-text-green);
        font-size: 1.2rem;
        transition: color 0.2s ease-in-out;
      }

      .country {
        display: flex;
        height: fit-content;
        gap: 10px;
        color: var(--clr-text-dark);
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 100%;
        transition: color 0.2s ease-in-out;
        align-items: center;

        .flag {
          position: relative;
          width: 35px;
          height: 24px;
          background-color: var(--clr-red-special);
          border-radius: 5px;
          box-shadow: var(--box-shadow-small);
          overflow: hidden;

          &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 50%;
            bottom: 0;
            left: 0;
            background-color: var(--clr-white);
          }
        }
      }

      &:hover {
        .map {
          color: var(--clr-text-yellow);
        }

        .country {
          color: var(--clr-text-yellow);
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  #hero {
    .hero-container {
      .row1 {
        gap: 100px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  #hero {
    .hero-container {
      .row1 {
        gap: 70px;
        scale: 0.8;
      }

      .row2 {
        padding-block: 80px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #hero {
    .hero-container {
      .row1 {
        gap: 40px;
        scale: 1.5;
      }

      .row2 {
        padding-block: 80px;
      }

      .row3 {
        .description {
          max-width: 500px;
          font-size: 1.2rem;
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  #hero {
    .hero-container {
      .row1 {
        gap: 30px;
        scale: 1.1;
      }

      .row2 {
        padding-block: 60px;
      }

      .row3 {
        .description {
          max-width: 500px;
          font-size: 1rem;
        }

        .call-to-actions {
          flex-wrap: wrap;
          width: 100%;
          justify-content: center;
        }
      }
    }
  }
}
