@keyframes scrolling {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-150px);
  }
  50% {
    transform: translateY(-300px);
  }
  75% {
    transform: translateY(-450px);
  }
  100% {
    transform: translateY(-600px);
  }
}

#hero {
  display: flex;
  width: 100%;
  height: 100dvh;
  min-height: 900px;
  max-height: 1080px;
  padding-inline: 7%;
  padding-block: 5% 2%;
  column-gap: 20px;

  .left-col {
    display: flex;
    width: 70%;
    height: 100%;
    gap: 5%;
    justify-content: space-between;

    .col1 {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 35%;
      justify-content: space-between;
      z-index: 1;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 120dvh;
        bottom: 0;
        left: 0;
        background-color: var(--clr-light);
        z-index: -1;
      }

      #profile-picture {
        filter: grayscale(1);
        transition: all 0.2s ease-in-out;

        &:hover {
          filter: grayscale(0);
        }
      }

      .profile-pict-running-text {
        color: var(--clr-white);
        font-size: 20rem;
        font-weight: 700;
        line-height: 0.9;
        transition: all 0.2s ease-in-out;
      }

      .address-bar {
        display: flex;
        gap: 10px;
        padding: 30px 5%;
        color: var(--clr-text-special);
        font-weight: 300;
        background: linear-gradient(to bottom, rgba(43, 43, 43, 0) 0%, rgba(43, 43, 43, 0.6) 25%, rgba(43, 43, 43, 0.9) 65%, rgba(43, 43, 43, 1) 100%);
        opacity: 0.9;
        transition: all 0.2s ease-in-out;
        align-items: center;
        justify-content: center;
        z-index: 2;
        cursor: pointer;

        .map {
          font-size: 2rem;
        }

        .country {
          font-size: 1.5rem;
          font-weight: 700;
        }

        &:hover {
          opacity: 1;
        }
      }
    }

    .col2 {
      display: flex;
      flex-direction: column;

      .row1 {
        display: flex;
        margin-top: 20px;
        gap: 20px;
        align-items: flex-end;

        .greet {
          font-size: 4.2vw;
          font-weight: 300;
          line-height: 90%;
        }

        .status {
          display: flex;
          padding: 5px 20px;
          gap: 5px;
          color: var(--clr-text-special);
          font-weight: 700;
          line-height: 90%;
          background-color: var(--clr-green);
          border-radius: 10px;
          box-shadow: 0 0 10px 1px var(--clr-green);
          align-items: center;

          .dot {
            width: 6px;
            height: 6px;
            background-color: var(--clr-text-special);
            border-radius: 50%;
          }
        }
      }

      .row2 {
        .name {
          line-height: 95%;
        }
      }

      .row3 {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-block: 30px 70px;
        gap: 40px;
        justify-content: space-between;

        .description {
          max-width: 70%;
          font-size: 1.5rem;

          .blackbold-text {
            font-weight: 700;
          }

          .purple-text {
            color: var(--clr-purple);
          }
        }
      }
    }
  }

  .right-col {
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-top: 60px;
    gap: 60px;
    align-items: flex-end;

    .scrolling-text {
      max-width: 420px;
      height: 150px;
      overflow: hidden;

      .scrolling-item {
        display: flex;
        width: fit-content;
        height: 100%;
        float: right;
        color: transparent;
        font-size: 3.2vw;
        font-weight: 700;
        line-height: 95%;
        text-align: end;
        background: var(--clr-purple-gradient);
        background-clip: text;
        -webkit-background-clip: text;
        align-items: center;
        justify-content: flex-end;
      }
    }

    .backstory-tab {
      position: relative;
      display: flex;
      justify-content: flex-end;

      .quote {
        position: absolute;
        width: 36px;
        height: 28px;
        top: -14px;
        left: -36px;
        background-image: url('/quote.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
      }

      .backstory {
        max-width: 370px;
        font-size: 1rem;
        line-height: 150%;
        text-align: right;

        .purple-text {
          color: var(--clr-purple);
        }
      }
    }

    .learn-more {
      position: relative;
      display: flex;
      padding: 15px 60px;
      gap: 50px;
      background-image: url('/bg1.jpg');
      background-position: center;
      background-size: cover;
      border-radius: 20px;
      box-shadow: 0 0 10px 1px var(--clr-pink);
      align-items: center;
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      z-index: 1;

      &:hover {
        box-shadow: 0 0 20px 1px var(--clr-pink);
      }

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: var(--clr-purple-gradient);
        border-radius: 20px;
        opacity: 0.5;
        transition: all 0.2s ease-in-out;
        z-index: -1;
      }

      &:hover::before {
        opacity: 0.6;
      }

      .text {
        color: var(--clr-text-special);
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 95%;
      }

      .arrow {
        width: 8px;
        height: 22px;
        background-image: url('/arrow.png');
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  #hero {
    flex-direction: column;
    height: fit-content;
    max-height: fit-content;

    .left-col {
      display: flex;
      width: 100%;
      height: 100%;
      gap: 5%;
      justify-content: space-between;

      .col2 {
        .row1 {
          margin-top: 40px;

          .greet {
            font-size: 8.2vw;
          }
        }

        .row2 {
          .name {
            font-size: 9.8vw;
          }
        }

        .row3 {
          .description {
            max-width: 100%;
          }
        }
      }
    }

    .right-col {
      flex-direction: row;
      width: 100%;
      gap: 40px;
      align-items: flex-start;

      .scrolling-text {
        max-width: fit-content;
        width: 35vw;
        min-width: 270px;
        height: 100px;

        .scrolling-item {
          font-size: 4vw;
        }
      }

      .backstory-tab {
        display: flex;
        justify-content: flex-end;

        .quote {
          left: -20px;
        }
      }

      .learn-more {
        padding: 15px 5vw;
        gap: 20px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  #hero {
    .left-col {
      .col1 {
        .address-bar {
          font-size: 0.8rem;

          .map {
            font-size: 1.3rem;
          }

          .country {
            font-size: 1.2rem;
          }
        }
      }

      .col2 {
        .row1 {
          .greet {
            font-size: 8.2vw;
          }
        }

        .row2 {
          .name {
            font-size: 9.8vw;
          }
        }

        .row3 {
          .description {
            font-size: 1.2rem;
          }
        }
      }
    }

    .right-col {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      .scrolling-text {
        order: 2;
      }

      .backstory-tab {
        order: 1;
        width: 95%;

        .quote {
          left: -36px;
        }

        .backstory {
          max-width: 100%;
          text-align: start;
        }
      }

      .learn-more {
        order: 3;
        padding: 15px 10vw;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #hero {
    .left-col {
      .col1 {
        .address-bar {
          font-size: 0.8rem;

          .map {
            font-size: 1.3rem;
          }

          .country {
            font-size: 1.2rem;
          }
        }
      }

      .col2 {
        .row1 {
          .status {
            font-size: 0.8rem;
          }
        }
      }
    }

    .right-col {
      flex-wrap: wrap;
      justify-content: center;

      .scrolling-text {
        width: 30vw;
        min-width: 100px;

        .scrolling-item {
          font-size: 4.2vw;
        }
      }

      .learn-more {
        padding: 15px 5vw;
      }
    }
  }
}

@media screen and (max-width: 576px) {
  #hero {
    .left-col {
      flex-direction: column;
      gap: 20px;

      .col1 {
        width: 90%;
        max-width: 350px;
        height: 100dvh;
        max-height: 935px;
        align-self: center;
      }

      .col2 {
        .row1 {
          .greet {
            font-size: 11.2vw;
          }
        }

        .row2 {
          .name {
            font-size: 12.8vw;
          }
        }

        .row3 {
          .description {
            font-size: 1rem;
          }

          #downloadCV {
            display: none;
          }
        }
      }
    }

    .right-col {
      flex-direction: column;
      flex-wrap: nowrap;
      padding-top: 0;
      gap: 20px;
      justify-content: flex-start;
      align-items: center;

      .scrolling-text {
        width: 100%;
        min-width: 100px;

        .scrolling-item {
          margin-inline: auto;
          font-size: 2.5rem;
        }
      }

      .backstory-tab {
        width: 80%;

        .quote {
          left: -36px;
        }

        .backstory {
          font-size: 0.8rem;
        }
      }

      .learn-more {
        width: 100%;
        padding: 15px 5vw;
        justify-content: center;
      }
    }
  }
}
