#hero {
  position: relative;
  display: flex;
  width: 100%;
  height: 100dvh;
  min-height: 900px;
  max-height: 1080px;
  padding-inline: 7%;
  padding-block: 5% 2%;
  justify-content: center;

  .marquee-back {
    position: absolute;
    width: 100dvw;
    top: 50%;
    left: 50%;
    color: var(--clr-lighter);
    color: rgba(144, 34, 229, 0.1);
    font-size: 30rem;
    font-weight: 700;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  .hero-container {
    display: flex;
    width: fit-content;
    height: 100%;
    gap: 80px;
    justify-content: space-between;

    .col1 {
      display: flex;
      flex-direction: column;
      position: relative;
      width: 430px;
      justify-content: space-between;
      z-index: 1;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 120dvh;
        bottom: 0;
        left: 0;
        background-color: var(--clr-light);
        z-index: -1;
      }

      #profile-picture {
        filter: grayscale(1);
        transition: all 0.2s ease-in-out;

        &:hover {
          filter: grayscale(0);
        }
      }

      .profile-pict-running-text {
        color: var(--clr-white);
        font-size: 20rem;
        font-weight: 700;
        line-height: 0.9;
        transition: all 0.2s ease-in-out;
      }

      .address-bar {
        display: flex;
        gap: 10px;
        padding: 30px 5%;
        color: var(--clr-text-special);
        font-weight: 300;
        background: linear-gradient(to bottom, rgba(43, 43, 43, 0) 0%, rgba(43, 43, 43, 0.6) 25%, rgba(43, 43, 43, 0.9) 65%, rgba(43, 43, 43, 1) 100%);
        opacity: 0.9;
        transition: all 0.2s ease-in-out;
        align-items: center;
        justify-content: center;
        z-index: 2;
        cursor: pointer;

        .map {
          font-size: 2rem;
        }

        .country {
          font-size: 1.5rem;
          font-weight: 700;
        }

        &:hover {
          opacity: 1;
        }
      }
    }

    .col2 {
      display: flex;
      flex-direction: column;
      align-self: center;

      .row1 {
        display: flex;
        flex-wrap: wrap-reverse;
        margin-top: 20px;
        gap: 20px;
        align-items: flex-start;

        .greet {
          font-size: 4rem;
          font-weight: 300;
          line-height: 95%;
        }

        .status {
          display: flex;
          padding: 5px 20px;
          gap: 5px;
          color: var(--clr-text-special);
          font-weight: 700;
          line-height: 90%;
          background-color: var(--clr-green);
          border-radius: 10px;
          box-shadow: 0 0 10px 1px var(--clr-green);
          align-items: center;

          .dot {
            width: 6px;
            height: 6px;
            background-color: var(--clr-text-special);
            border-radius: 50%;
          }
        }
      }

      .row2 {
        .name {
          line-height: 95%;
        }
      }

      .row3 {
        display: flex;
        flex-direction: column;
        padding-block: 30px 70px;
        gap: 40px;

        .description {
          max-width: 500px;
          font-size: 1.5rem;

          .blackbold-text {
            font-weight: 700;
          }

          .purple-text {
            color: var(--clr-purple);
          }
        }

        .buttons {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  #hero {
    flex-direction: column;
    height: fit-content;
    max-height: fit-content;

    .hero-container {
      display: flex;
      width: 100%;
      height: 100%;
      gap: 5%;
      justify-content: space-between;

      .col1 {
        width: 380px;
      }

      .col2 {
        .row1 {
          margin-top: 40px;
        }

        .row2 {
          .name {
            font-size: 5rem;
          }
        }

        .row3 {
          .description {
            max-width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  #hero {
    .hero-container {
      .col1 {
        width: 300px;
        .address-bar {
          font-size: 0.8rem;

          .map {
            font-size: 1.3rem;
          }

          .country {
            font-size: 1.2rem;
          }
        }
      }

      .col2 {
        .row2 {
          .name {
            font-size: 8vw;
          }
        }

        .row3 {
          .description {
            font-size: 1.2rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #hero {
    .marquee-back {
      top: 25%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .hero-container {
      flex-direction: column;
      gap: 20px;
      align-items: center;

      .col1 {
        width: 100%;
        max-width: 400px;
        height: 100dvh;

        .address-bar {
          font-size: 1rem;

          .map {
            font-size: 1.5rem;
          }

          .country {
            font-size: 1.5rem;
          }
        }
      }

      .col2 {
        .row1 {
          .status {
            font-size: 1rem;
          }
        }

        .row2 {
          .name {
            font-size: 5rem;
          }
        }

        .row3 {
          .description {
            max-width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  #hero {
    .hero-container {
      flex-direction: column;
      gap: 20px;

      .col1 {
        width: 90%;
        max-width: 350px;
        height: 100dvh;
        align-self: center;
      }

      .col2 {
        .row1 {
          .greet {
            font-size: 11.2vw;
          }

          .status {
            font-size: 0.8rem;
          }
        }

        .row2 {
          .name {
            font-size: 12.8vw;
          }
        }

        .row3 {
          .description {
            font-size: 1rem;
          }
        }
      }
    }
  }
}
