@keyframes spinning {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

#loadingScreen {
  position: fixed;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100dvh;
  gap: 40px;
  top: 0;
  left: 0;
  background-color: var(--clr-light);
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#loadingLogo {
  animation: spinning 5s infinite linear;
}

.loading-text {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}
