#navbar {
  position: fixed;
  display: flex;
  width: 100dvw;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
  justify-content: center;
  z-index: 999;

  .progress-bar {
    position: absolute;
    width: 100%;
    height: 5px;
    top: 0;
    left: 0;
    transform-origin: left;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      width: 100dvw;
      height: 100%;
      background: var(--clr-progress-bar);
      animation: progress 5s infinite;
    }
  }

  .navbar-container {
    display: flex;
    width: 100%;
    max-width: 1920px;
    padding: 20px 2%;
    justify-content: space-between;
    align-items: center;

    .logo {
      transition: all 0.2s ease-in-out;
    }

    .menu-list {
      display: flex;
      padding: 10px 20px;
      gap: 10px;
      list-style: none;
      background-color: var(--clr-tropical-teal);
      border-radius: 30px;
      box-shadow: var(--box-shadow-small);
      align-items: center;

      .menu-item {
        > a {
          color: var(--clr-text-white);
          font-weight: 700;
          text-decoration: none;
          transition: color 0.2s ease-in-out, font-weight 0.2s ease-in-out;
        }

        > a:hover {
          color: var(--clr-text-yellow);
        }

        .unique-menu {
          color: var(--clr-text-white);
          font-weight: 700;
          text-decoration: none;
          transition: color 0.2s ease-in-out, font-weight 0.2s ease-in-out;
          cursor: pointer;

          &:hover {
            color: var(--clr-text-yellow);
          }
        }
      }

      #downloadCV2 {
        display: none;
      }
    }
  }
}

#miniNavbar {
  position: fixed;
  display: flex;
  width: 100dvw;
  top: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
  justify-content: center;
  z-index: 999;

  .progress-bar {
    position: absolute;
    width: 100%;
    height: 5px;
    top: 0;
    left: 0;
    transform-origin: left;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      width: 100dvw;
      height: 100%;
      background: var(--clr-progress-bar);
      animation: progress 5s infinite;
    }
  }

  .navbar-container {
    position: relative;
    display: flex;
    width: 100%;
    max-width: 1920px;
    padding: 20px 2%;
    justify-content: space-between;
    align-items: center;

    .logo {
      transition: all 0.2s ease-in-out;
    }

    .menu-btn {
      display: grid;
      width: 50px;
      height: 50px;
      background-color: var(--clr-green);
      border-radius: 50%;
      box-shadow: var(--box-shadow-small);
      place-content: center;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

      .menu-image {
        animation: spin 8s infinite linear;
      }

      &:hover {
        background-color: var(--clr-yellow);
        box-shadow: var(--box-shadow-button);

        .menu-image {
          animation-play-state: paused;
        }
      }
    }

    .menu-list {
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 10px;
      top: 85%;
      right: -100%;
      list-style: none;
      align-items: flex-end;
      transition: right 0.3s ease-in-out;

      .menu-item {
        display: flex;
        padding: 10px 15px;
        gap: 10px;
        background-color: var(--clr-tropical-teal);
        border-radius: 30px;
        box-shadow: var(--box-shadow-small);
        align-items: center;

        > a {
          color: var(--clr-text-white);
          font-weight: 700;
          text-decoration: none;
          transition: color 0.2s ease-in-out, font-weight 0.2s ease-in-out;
        }

        > a:hover {
          color: var(--clr-text-yellow);
        }

        .unique-menu {
          color: var(--clr-text-white);
          font-weight: 700;
          text-decoration: none;
          transition: color 0.2s ease-in-out, font-weight 0.2s ease-in-out;
          cursor: pointer;

          &:hover {
            color: var(--clr-text-yellow);
          }
        }
      }

      #downloadCV2 {
        display: none;
      }
    }

    .menu-list.active {
      right: 1rem;
    }
  }
}

// @media screen and (max-width: 768px) {

// }
