#projects {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10rem 7%;
  color: var(--clr-blue-paisley);
  background-color: var(--clr-serenity-sky);
  align-items: center;
  z-index: 1;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url('/grainy-filter.svg');
    opacity: 0.2;
    z-index: -1;
  }

  .projects-heading {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 30px;

    .title {
      line-height: 120%;
    }

    .sub-title {
      font-size: 1.5rem;
    }
  }
}
