@keyframes blob {
  0% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
  25% {
    border-radius: 69% 31% 83% 17% / 22% 67% 33% 78%;
  }
  50% {
    border-radius: 41% 59% 51% 49% / 37% 57% 43% 63%;
  }
  75% {
    border-radius: 13% 87% 83% 17% / 37% 76% 24% 63%;
  }
  100% {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
  }
}

#skills {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30vh 7%;
  gap: 40px;

  .row1 {
    display: flex;
    gap: 8%;

    .title {
      width: 45%;
      line-height: 95%;
      z-index: 2;

      .gradient-text {
        background: var(--clr-purple-gradient);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
    }

    .skill-cards {
      position: relative;
      display: flex;
      width: 55%;
      height: fit-content;
      gap: 40px;
      z-index: 1;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: var(--clr-purple-gradient);
        animation: blob 5s infinite alternate;
        filter: blur(50px);
        z-index: -1;
      }

      .card {
        display: flex;
        flex-direction: column;
        flex: 1;
        min-height: 200px;
        padding: 20px;
        gap: 40px;
        color: var(--clr-text-white);
        background: var(--clr-glass-gradient);
        border-radius: 20px;
        border: 2px solid rgba(245, 245, 245, 0.2);
        backdrop-filter: blur(50px);

        .skill-icon {
          width: 50px;
        }

        .skill-desc {
          font-weight: 700;
        }
      }
    }
  }

  .row2 {
    display: flex;
    gap: 8%;
    align-items: center;

    .tech-title {
      width: 45%;
      font-weight: 300;
      text-align: right;
      line-height: 95%;

      .gradient-text {
        font-weight: 700;
        background: var(--clr-purple-gradient);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
      }
    }

    .prog-stacks {
      display: flex;
      width: 55%;
      gap: 20px;

      .icons {
        display: flex;
        flex-wrap: wrap;
        width: 55%;
        padding-block: 20px;
        gap: 20px;

        .icon {
          display: flex;
          height: 30px;
          width: fit-content;
          max-width: 50px;
          filter: grayscale(1);
          transition: all 0.2s ease-in-out;
          align-items: center;

          &:hover {
            filter: grayscale(0);
          }
        }
      }

      .tech-image {
        flex: 1;
        width: 45%;
        background-image: url('/bg1.jpg');
        background-position: center;
        background-size: cover;
        border-radius: 20px;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  #skills {
    gap: 80px;

    .row1 {
      .title {
        width: 35%;
      }

      .skill-cards {
        width: 65%;
        gap: 3%;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  #skills {
    .row1 {
      .skill-cards {
        .card {
          .skill-desc {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  #skills {
    padding: 20vh 7%;

    .row1 {
      flex-direction: column;
      gap: 50px;

      .title {
        width: 100%;
      }

      .skill-cards {
        width: 100%;

        .card {
          .skill-desc {
            font-size: 1rem;
          }
        }
      }
    }

    .row2 {
      flex-direction: column;
      gap: 40px;

      .tech-title {
        width: 100%;
      }

      .prog-stacks {
        width: 100%;

        .icons {
          order: 2;
          justify-content: flex-end;
        }

        .tech-image {
          order: 1;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #skills {
    padding: 10vh 7%;

    .row1 {
      .skill-cards {
        .card {
          .skill-icon {
            width: 40px;
          }

          .skill-desc {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  #skills {
    .row1 {
      .skill-cards {
        flex-direction: column;
        max-width: 300px;
        align-self: center;
      }
    }

    .row2 {
      .prog-stacks {
        flex-direction: column;
        height: 300px;

        .icons {
          width: 100%;
          order: 1;
          justify-content: center;
        }

        .tech-image {
          width: 100%;
          height: 100%;
          order: 2;
        }
      }
    }
  }
}
