#skills {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 100px 7%;
  gap: 50px;
  background-color: var(--clr-lighter);
  align-items: center;
  z-index: 1;

  .header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    .section-title {
      line-height: 100%;
      text-align: center;

      .highlighted {
        color: var(--clr-text-green);
      }
    }

    .section-desc {
      max-width: 500px;
      text-align: center;
      opacity: 0.5;
    }
  }

  .skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    align-items: center;
    justify-content: center;
  }

  .fav-stack-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    gap: 60px;
    align-items: center;
    justify-content: center;
  }

  .progs-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1400px;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 1200px) {
  #skills {
    .skills-container {
      gap: 20px;
    }

    .fav-stack-section {
      margin-top: 20px;
      gap: 20px;
    }
  }
}

@media screen and (max-width: 576px) {
  #skills {
    .skills-container {
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 20px;
    }

    .progs-container {
      gap: 5px;
    }
  }
}
