#skills {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30vh 7%;
  gap: 180px;

  .row1 {
    display: flex;
    gap: 80px;
    justify-content: center;

    .section-desc {
      position: sticky;
      position: -webkit-sticky;
      display: flex;
      flex-direction: column;
      max-width: 500px;
      height: fit-content;
      top: 30vh;
      gap: 20px;
      align-self: flex-start;

      .title {
        line-height: 95%;

        .gradient-text {
          background: var(--clr-purple-gradient);
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
        }
      }

      .desc {
        font-size: 1.2rem;
        letter-spacing: 1px;
      }
    }

    .skill-cards {
      position: relative;
      display: flex;
      height: fit-content;
      gap: 40px;
      z-index: 1;

      .col1,
      .col2 {
        display: flex;
        flex-direction: column;
        gap: 40px;
      }

      .col2 {
        margin-top: 130px;
      }

      .card {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 250px;
        padding: 20px;
        gap: 20px;
        color: var(--clr-text-dark);
        background: var(--clr-glass-gradient);
        border-radius: 20px;
        backdrop-filter: blur(50px);
        box-shadow: 0 0 40px 1px rgba(144, 34, 229, 0.25);

        .skill-icon {
          width: 50px;
        }

        .skill-name {
          margin-top: 20px;
          font-size: 1.5rem;
          font-weight: 700;
          line-height: 95%;
        }

        .skill-desc {
          font-weight: 300;
          letter-spacing: 1px;
        }
      }
    }
  }

  .row2 {
    display: flex;
    gap: 80px;
    justify-content: center;

    .section-desc {
      position: sticky;
      position: -webkit-sticky;
      display: flex;
      flex-direction: column;
      max-width: 500px;
      height: fit-content;
      top: 30vh;
      gap: 20px;

      .tech-title {
        line-height: 95%;

        .gradient-text {
          font-weight: 700;
          background: var(--clr-purple-gradient);
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
        }
      }

      .tech-desc {
        font-size: 1.2rem;
        letter-spacing: 1px;
      }
    }

    .prog-stacks {
      display: flex;
      flex-direction: column;
      max-width: 500px;
      gap: 20px;

      .icons {
        display: flex;
        flex-wrap: wrap;
        padding-block: 20px;
        gap: 20px;
        justify-content: flex-start;

        .icon {
          display: flex;
          height: 60px;
          width: 60px;
          background: var(--clr-glass-gradient);
          border-radius: 10px;
          box-shadow: 0 0 20px 1px rgba(144, 34, 229, 0.1);
          align-items: center;
          justify-content: center;

          .icon-image {
            height: 30px;
          }
        }
      }

      .tech-image {
        width: 100%;
        height: 200px;
        background-image: url('/bg1.jpg');
        background-position: center;
        background-size: cover;
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  #skills {
    gap: 80px;

    .row1 {
      .title {
        width: 35%;
      }

      .skill-cards {
        width: 65%;
        gap: 3%;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  #skills {
    .row1 {
      .skill-cards {
        .card {
          .skill-desc {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  #skills {
    padding: 20vh 7%;

    .row1 {
      flex-direction: column;
      gap: 50px;

      .title {
        width: 100%;
      }

      .skill-cards {
        width: 100%;

        .card {
          .skill-desc {
            font-size: 1rem;
          }
        }
      }
    }

    .row2 {
      flex-direction: column;
      gap: 40px;

      .tech-title {
        width: 100%;
      }

      .prog-stacks {
        width: 100%;

        .icons {
          order: 2;
          justify-content: flex-end;
        }

        .tech-image {
          order: 1;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #skills {
    padding: 10vh 7%;

    .row1 {
      .skill-cards {
        .card {
          .skill-icon {
            width: 40px;
          }

          .skill-desc {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 576px) {
  #skills {
    .row1 {
      .skill-cards {
        flex-direction: column;
        max-width: 300px;
        align-self: center;
      }
    }

    .row2 {
      .prog-stacks {
        flex-direction: column;
        height: 300px;

        .icons {
          width: 100%;
          order: 1;
          justify-content: center;
        }

        .tech-image {
          width: 100%;
          height: 100%;
          order: 2;
        }
      }
    }
  }
}
